@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Light background */
  color: #071013; /* Dark text */
}

a {
  color: inherit;
  text-decoration: none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #22b5d3;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c5b97;
}
